<div class="groupSelection">
    <div class="ordivider">
<form action="/group-sign-up/<%= verifyGroup.id %>" method="post" class="form-group btn-group taskstatsrow">
    <div class="form-group row">
            <input type="text" class="form-control" id="groupName" name="groupName" placeholder="Group Name">
        <button class="btn btn-success" type="submit">Group Sign-Up</button>
    </div>
</form>
</div class="ordivider">
<div>
<h5 class="ordivider">Or</h5>
</div>
<div class="ordivider">
<form action="/update-groupsID/<%= verifyGroup.id %>" method="post" class="form-group btn-group taskstatsrow">
    <select class="form-control" id="selectedGroup" name="groupsID">
        <option value="" disabled selected>Select your group</option>
        <% groups.forEach(function(group){ %>
            <%- include ("../partials/grouplist", {group: group}); %>
          <% }); %>
    </select>
    <div>
        <button type="submit" class="btn btn-success">SAVE</button>
    </div>
</form>
</div class="ordivider">
</div>