body {
    background-color: gray;
    padding-top: 70px;
}
.navbar {
    margin-bottom: 3em;
}
.description-text {
    padding: 10px;
    text-align: left;
}
.btn-local {
    height: 100%;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.group-tasks {
    border-left: 5px solid black;
}
.taskcards {
    border-top: 5px solid black;
    padding-top: 5px;
}
.card{
    width: 240px;
    padding: 5px;
    margin-right: 2px;
}
.groupCard{
    width: 220px;
    padding: 5px;
    margin-right: 2px;
}
.cardDisplay {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.groupCardDisplay {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.delete-button {
    display: flex;
    justify-content: center;
}
.editTask{
    border: 0;
    margin-top: 5px;
}
.taskstats {
    width:135px;
}
.taskstatsrow {
    display: flex;
    justify-content: flex-start;
}
.hideBackground {
    background: transparent;
}
input[type="text"]::placeholder {
    color: white;
    opacity: 1;
}

input[type="text"] {
    color: white;
    opacity: 1;
}