body {
    background-color: gray;
}
.navbar {
    margin-bottom: 3em;
}
.description-text {
    padding: 10px;
    text-align: left;
}
.btn-local {
    height: 100%;
    padding: 10px;
}

/* #close {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    color:white;
    border: 1px solid white;
    background-color: red;
    border-radius: 25%;
    width: fit-content;
    margin-left: 91.9%;
    padding: 5px;
} */
