body {
    background-color: gray;
    padding-top: 70px;
}
.navbar {
    margin-bottom: 3em;
}
.description-text {
    padding: 10px;
    text-align: left;
}
.btn-local {
    height: 100%;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.group-tasks {
    border-left: 5px solid black;
}
.taskcards {
    border-top: 5px solid black;
    padding-top: 5px;
}
.card{
    width: 240px;
    padding: 5px;
}
.cardDisplay {
    display: flex;
    justify-content: space-evenly;
}
