<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">

    <header>
        <%- include ("../partials/header") %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="text-center">
                    <img src="/images/standapp.png" class="img-fluid" alt="StandApp">
                </div>
                <div class="description-text">
                    <p>It's The Stand Up App! Featuring individual tasks and group tasks for use during daily stand up
                        meetings, our app will assist in getting the conversation flowing in 5 minutes or less. Update
                        and delete tasks easily!</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="alert alert-success" role="alert">
                    Already signed up? <a href="/signin">Click here to sign in.</a>
                  </div>
                <form action="/sign-up" method="post">
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="johndoe@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Group</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="selectedGroup" name="groupsID">
                                <option value="" disabled selected>Select your group</option>
                                <option value="1">Group 1</option>
                                <option value="2">Group 2</option>
                                <option value="3">Group 3</option value="1">
                                <option value="4">Group 4</option value="1">
                                <option value="5">Group 5</option value="1">
                            </select>
                        </div>
                    </div>
                    <div class="local-signin col-sm-8">
                        <button type="submit" class="btn-local btn btn-success" id="local-btn">Sign-Up</button>
                    </div>
                </form>
                <div class="row">
                    <div class="google-signin col-sm-4">
                        <a href="/auth/google" class="btn-google" id="google-btn"><img
                                src="/images/btn_google_signin_dark_normal_web.png"></a>
                    </div>

                </div>
                <hr>
                <form>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Group Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="groupName" placeholder="John">
                        </div>
                    </div>
                </form>
                <div class="group-signup">
                    <button class="btn-group" id="group-btn">Group Sign-Up</button>
                </div>
            </div>



        </div>
    </main>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>

</html>