<!-- views/pages/profile.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%- include ("../partials/head") %>
</head>

<body class="container">

  <header>
    <%- include ("../partials/header") %>
  </header>

  <main>
    <%- include ("../partials/cards") %>
  </main>

  <footer>
    <%- include ("../partials/footer") %>
  </footer>

</body>

</html>